* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  width: 200px 1000px;
}
#heading img {
  width: 100%;
  height: 400px;
}
.navbar-nav li {
  padding: 0 10px;
}
#nav-bar ul li a:hover {
  color: #999 !important;
}
.navbar,
#nav-bar {
  background: #077;
  z-index: 10000;
}
.navbar-toggler {
  border: none !important;
}
.nav-link {
  color: #fff !important;
  font-weight: 600;
  font-size: 16px;
}

.sticky {
  transform: rotateX(0deg);
  transform-origin: top;
  perspective: 1000;
  transform-style: preserve-3d;
  animation: navro 0.5s ease-in;
  position: fixed;
  top: 0;
  width: 100%;
}

@-moz-keyframes navro {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes navro {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.sticky + #content-body {
  padding-top: 60px !important;
}
.btn {
  background-color: #077;
}
.dropdown:hover > .dropdown-menu {
  display: block;
  background-color: #077;
}

/*------content---------*/

#content-body {
  background-image: linear-gradient(to right, #303032 0%, #030000 100%),
    url("images/texas.jfif");
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
}
.content {
  overflow: hidden;
  padding: 0px !important;
  position: relative;
  padding-right: 0px !important;
}
.maj-box {
  background: linear-gradient(90deg, #f7c626 15%, #f68c2f 40%, #e5127d 85%);
}
.boxes {
  padding: 1px !important;
}
.boxes:nth-child(2):hover,
.boxes:nth-child(11):hover {
  transform: rotate(20deg);
  transform-origin: 8px top;
  animation: rot 1s ease-in-out;
  z-index: 4;
}
.boxes:nth-child(11):hover {
  transform-origin: right top !important;
  transform: rotate(-20deg);
  animation: rotz 1s ease-in-out;
}

@-moz-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@-moz-keyframes rotz {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
@keyframes rotz {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
.content img {
  position: absolute;
  height: 100%;
  object-fit: cover;
  width: 100%;
  transform: translateX(-29px);
}
.content img:hover {
  transform-origin: center;
  animation: sca 2s ease-in-out;
}
@keyframes sca {
  0% {
    transform: scale();
  }
  50% {
    transform: scale(1.2);
  }
}
.content:nth-child(1)::before {
  content: url(images/screw1.png);
  shadow: 2px 2px;
  background-size: 40px;
  position: relative;
  z-index: 3;
  left: 49%;
  top: 1px;
}
.boxa::before,
.boxb::before {
  content: url(images/screw1.png);
  background-size: 40px;
  position: relative;
  z-index: 3;
  left: 0px !important;
  top: 0px !important;
}
.boxb::before {
  top: 0px !important;
  left: 93% !important;
}
.boxes:nth-child(2n)::before {
  background-color: #f7c626;
  bottom: 30px;
  content: "";
  height: 3px;
  left: 172px;
  position: absolute;
  width: 40%;
  z-index: 4;
}
.boxes:nth-child(2n)::after {
  background-color: #f7c626;
  bottom: 0;
  content: "";
  height: 3px;
  left: 115px;
  position: absolute;
  transform: rotate(120deg);
  transform-origin: bottom right;
  width: 38px;
  z-index: 4;
}
.content {
  background: black;
  margin: 0px;
  height: 300px;
}
@media (min-width: 1350px) {
  .maj-box,
  .sub-maj-box {
    max-width: 1320px !important;
  }
} 
.context {
  font-family: "adelle-sans", Helvetica, sans-serif;
  position: absolute;
  font-weight: bolder;
  bottom: 0;
  border: 1px solid #f1f1f1;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
#auth {
  z-index: 100 !important;
  color: #e51055;
  display: inline;
  transition: transform 1s ease;
}
.contextb {
  height: 100%;
  padding: 37px !important;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.008em;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 2em;
  color: #f1f1f1;
  /*font-size: 40px;
  font-weight: bold;*/
  transform: translateX(0px) !important;
  background: rgb(0, 0, 0);
}
.contextb:hover {
  color: #d60928;
}

.contextb:hover #auth {
  color: white;
}

.posts {
  border: none;
  border-top: 2px solid #d9d9d9;
}
.sub-posts {
  border: none !important;
}
.liked {
  border: none;
  border-right: 2px solid #d9d9d9;
}
.sub-liked {
  border-right: 2px solid #cbbdbd !important;
}
#quotes {
  color: black;
  padding: 60px;
  font-family: "Oswald", sans-serif;
  font-size: 45px;
  font-weight: bold;
  font-weight: 700;
  letter-spacing: 0.008em;
}

@media (max-width: 532px) {
  .date i {
    font-size: calc(100vw / 12) !important;
    padding-right: 4px;
  }
  .recent .row {
    margin: 0px !important;
  }
  .contextb {
    font-size: 1.3em !important;
  }
}
@media (max-width: 512px) {
  .post-brief2 {
    font-size: 14px !important;
  }
}
@media (max-width: 992px) {
  #quotes,
  #quotes p,
  .zz {
    font-size: calc(100vw / 21) !important;
  }
}
@media (min-width: 767.8px) and (max-width: 992px) {
  .liked-post-inner {
    font-size: calc(100vw / 70) !important;
  }
}
@media (max-width: 670px) {
  #content-body {
    overflow: hidden !important;
  }
}
.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.like-inside2 h5,
.like-inside4 h5 {
  color: #999;
}
.like-inside1,
.like-inside2,
.like-inside3,
.like-inside4 {
  height: 300px;
  padding: 20px;
  border-bottom: 2px solid #d9d9d9;
}

.sub-liked .like-inside1,
.sub-liked .like-inside2,
.sub-liked .like-inside3,
.sub-liked .like-inside4 {
  border-bottom: 2px solid #cbbdbd;
}
.like-inside2 {
  height: 500px;
}
.like-inside3 {
  height: 500px;
}
.like-inside4 {
  height: 1400px;
}

.swiper-slide,
.zsm {
  height: 250px;
}
.liked-post-inner {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: white;
  position: absolute;
  bottom: 0px !important;
  font-weight: bold;
}
.liked-post-inner2 {
  padding: 15px;
  font-weight: bold;
}
.liked-post-inner2 .date {
  color: grey;
}
.date {
  font-size: 80%;
  font-weight: normal;
  color: #d9d9d9;
}
.swiper-slide:hover .liked-post-inner div {
  text-decoration: underline;
}

.swiper-slide:hover .liked-post-inner .date {
  text-decoration: none !important;
}
.recent {
}
.recent .row {
  margin: 40px;
  height: 800px;
  border: none;
  border-bottom: 2px solid #d9d9d9;
}
.post-brief1 {
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: bolder;
}
.post-brief2 {
  font-family: "Merriweather", serif;
}
.name-type {
  color: #aaa7a7;
}
.posts:hover .post-brief1 {
  color: black;
}
.carousel-control-next,
.carousel-control-prev {
  width: 3% !important;
}
.carousel-caption {
  background: rgba(255, 255, 255, 0.51);
  color: black !important;
  width: 100%;
  left: 0% !important;
  bottom: 42px !important;
  right: 0% !important;
}
.foot {
  padding: 150px !important;
  background: #222222;
}
.headname {
  color: wheat;
  text-transform: lowercase;
  font-weight: bolder;
  font-family: "Orbitron", sans-serif;
  font-weight: 700 !important;
  margin-left: 2.8rem;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: whitesmoke;
}
.headname h1 {
  font-size: 80px !important;
}
.foot .row .col-12 div {
  display: inline;
  margin-right: 6px;
  margin-left: 6px;
}
.foot .row .col-12 div i {
  width: 35px;
}
.foot .row .col-12 div:hover {
  opacity: 0.7 !important;
}
.foot .row .col-12 span {
  color: #aaa7a7;
  margin-right: 10px;
  margin-left: 10px;
}
.fa-heart {
  color: #d60928;
  animation: heart 1s ease-in-out infinite;
  position: absolute;
}

.sub-head-img img {
  width: 100%;
  height: auto;
  margin: 0px !important;
}
.sub-content-body {
  background-image: linear-gradient(to right, #303032 0%, #030000 100%),
    url("images/texas.jfif");
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.sub-maj-box {
  background-color: rgba(256, 256, 256, 0.8);
  padding: none !important;
}

.z1 {
  font-size: 20px;
}
.z2 {
  font-size: 0.8rem !important;
}
.sub-recent .row {
  height: 170px !important;
  border: none;
  margin: 18px !important;
}
.r2 {
  border-bottom: 2px solid #cbbdbd !important;
}
@keyframes heart {
  0% {
    font-size: 20px;
  }
  50% {
    font-size: 22px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .sub-recent .row {
    height: calc(100vw / 2) !important;
    border: none;
  }
}
@media (max-width: 571.8px) {
  .sub-recent .row {
    height: calc(100vw / 1.1) !important;
  }
}
@media (min-width: 572px) and (max-width: 767px) {
  .sub-recent .row {
    height: calc(100vw / 1.4) !important;
  }
}
.sadss{
  color:blue;
  padding;0px;
